# Data: TransferMarkt

In [1]:
import pandas as pd

In [8]:
appearances = pd.read_csv('./archive/appearances.csv')
competition = pd.read_csv('./archive/competitions.csv')

In [24]:
appearances[appearances.competition_id.isin(competition[
            (competition.type == 'domestic_league')
            & (competition.sub_type == 'first_tier')
            & (competition.country_name.isin(['England', 'France', 'Germany', 'Italy', 'Spain'])) 
].competition_id.values)]

,appearance_id,game_id,player_id,player_club_id,player_current_club_id,date,player_name,competition_id,yellow_cards,red_cards,goals,assists,minutes_played
4345,2229837_108830,2229837,108830,415,3205,2012-08-10,Aymen Abdennour,FR1,1,0,0,0,90
4346,2229837_113707,2229837,113707,969,1082,2012-08-10,Rémy Cabella,FR1,1,0,0,0,42
4347,2229837_126767,2229837,126767,415,3205,2012-08-10,Ali Ahamada,FR1,0,0,0,0,90
4348,2229837_126796,2229837,126796,415,60949,2012-08-10,Adrien Regattin,FR1,0,1,0,0,11
4349,2229837_127032,2229837,127032,415,141,2012-08-10,Serge Aurier,FR1,0,1,0,1,84
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1556770,4112992_716276,4112992,716276,1050,1050,2024-03-17,Yerson Mosquera,ES1,0,0,0,0,90
1556771,4112992_74869,4112992,74869,1050,1050,2024-03-17,Francis Coquelin,ES1,1,0,0,0,45
1556772,4112992_76467,4112992,76467,1050,1050,2024-03-17,Kiko Femenía,ES1,1,0,0,0,90
1556773,4112992_80293,4112992,80293,1050,1050,2024-03-17,Aïssa Mandi,ES1,1,0,0,0,90
1556774,4112992_834764,4112992,834764,1049,1049,2024-03-17,Javi Guerra,ES1,0,0,0,0,82

In [12]:
competition.sub_type.unique()

array(['domestic_cup', 'domestic_super_cup', 'uefa_super_cup',
       'first_tier', 'europa_league', 'europa_league_qualifying',
       'league_cup', 'uefa_europa_conference_league_qualifiers',
       'uefa_champions_league', 'fifa_club_world_cup',
       'uefa_champions_league_qualifying'], dtype=object)